<nav>
  <div class = "nav-hamburger">
    <div class = "hamburger-logo_icon">
      <h2 id = "nav-logo">
        <a href = "/">AirBnb</a>
      </h2>
    </div>
    <input type = "checkbox" id = "hamburger-input">
    <label for = "hamburger-input" class = "hamburger-icon">
    </label>
    <div class = "nav-dropdown">
      <a href = "/">Home</a>
      <a href = "/Listings">Listings</a>
      <a href = "/Listings/new">New listing</a>
    </div>
  </div>
</nav>