<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class = "error-message">
    <div id = "error-page-status">
      <%= status %>
    </div>
    <div class = "error-messages">
      <p> Something went wrong </p>
      <p><%= message %></p>
    </div>
    
    <a href = "/" id = "go-error-home">
      Go Home
    </a>
  </div>
</body>